@media only screen and (min-width:720px){
  .site-header__links{
    display:block;
  }
  .site-header__button-span{
    display: none;
  }

  .site-header__hamburger-list{
    display: none;
  }
}



.site-header__container{
  width: 100%;
  margin: 20px 0;
  padding: 0 15px;
}

.site-header__item{
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.site-header__logo-list{
  width: 100%;
  max-width: 139px;
  height: 20px;
}

.site-header__logo{
  display: block;
}
.site-header__links-list{
  display: flex;
}